doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/static/stylesheets/my-styles.css', type='text/css')
    //- link(rel='stylesheet', href='/stylesheets/default-style.css', type='text/css')
  body
    block content

    script(src='/static/javascript/bootstrap.min.js')
    script(src='/static/javascript/jquery-2.1.4.js')
    script(src='/static/javascript/my-scripts.js')
